@import '_partials/vars';
@import '_partials/mixins';

// Bold
@font-face {
  font-family: 'ProductSans-Bold';
  src: local('ProductSans-Bold'), url("../../assets/fonts/ProductSans-Bold.ttf");
  font-weight: 600;
}

//normal
@font-face {
  font-family: 'ProductSans_Normal';
  src: local('ProductSans_Normal'), url("../../assets/fonts/ProductSans-Black.ttf");
}

* {
  box-sizing: border-box;
}
html,
body {
  //@include ProductSans_Normal;
  font-family: 'ProductSans-normal', sans-serif;
}

.site-layout-content {
  min-height: 280px;
  padding: 10px 0;
  //background: #fff;
}
.cardSettings {
  .innerCard {
    box-shadow: 0 4px 30px rgba(192, 192, 192, 0.25);
    border-radius: 6px;
  }
  h2 {
    //@include ProductSans-Bold;
    font-family: 'ProductSans-Bold', sans-serif;
    font-size: 1.9em;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  h4 {
    color: $card_caption_color;
    font-size: 16px;
    font-weight: 700;
    font-family: 'ProductSans-Bold', sans-serif;
  }
}
.ant-layout {
  background: $white_color;
}

// H E A D E - D E S I G N
.ant-layout-header {
  background: $white_color;
  height: 52px;
  line-height: 50px;
  box-shadow: inset 0px -1px 0px rgba(220, 225, 231, 0.572143);
}
.activeMenu {
  background: $active_blue;
  border-bottom: 2px solid $thick_blue !important;
}
.ant-menu-horizontal {
  border-bottom: none;
}
#components-layout-demo-top {
  .logo {
    float: left;
    width: 120px;
    height: 31px;
    margin: 16px 24px 16px 0;
    background: rgba(255, 255, 255, 0.3);
  }
}
.logo {
  //float: right;
  //margin: 16px 0 16px 24px;
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}
.ant-menu {
  background: none;
}
.ant-row-rtl {
  #components-layout-demo-top {
    .logo {
      float: right;
      margin: 16px 0 16px 24px;
    }
  }
}
.ant-timeline {
  padding: revert;
}
.ant-timeline-item-tail {
  border-left: 2px solid #ddd !important;
}
.ant-timeline-item-head {
  background: $black_color;
  border-color: $black_color;
}
.sideBarSettings {
  font-family: 'ProductSans-normal', sans-serif;
  .summaryCard {
    border-radius: 4px;
    min-height: 1px;
    padding: 10px 0;
    @include boxShadow;
  }
  .bg_white {
    background: $white_color;
  }
  .headerHolder {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
  }
  .__timeLine {
    margin-top: 20px;
  }
  .timeLineCustom {
    margin-top: 30px;
    padding-left: 27px;
  }
  h3 {
    font-weight: 700;
    margin: 0;
    font-size: 14px;
  }
  .iconBg {
    background: $theme-blue;
    border-radius: 5px;
    align-items: center;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
  }
}

//custom scss

.ant-col-5 {
  flex: 0 0 246px;
  max-width: 246px;
}

.ant-col-19 {
  flex: 0 0 984px;
  max-width: 984px;
}