//$header_color: #ddd;
$header_color: #f0f2f5;
$black_color: rgb(0,0,0);
$white_color: #ffffff;
$theme-color: #EDF6FF;
$theme-blue:  #00A2D6;
$active_blue: #DEEFFF;
$thick_blue: #006FD6;
$card_caption_color: #9696A0;
